@charset "UTF-8";

  body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.title{
text-align: center;
}
	#mytitle {text-align: center}
	.countryCovidChartDiv{text-align: center;}	
/* 선별진료소 */
	.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
	.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
	.map_wrap {position:relative;width:100%;height:500px;}
	#menu_wrap {position:absolute;top:0;left:0px;bottom:0;width:350px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
	.bg_white {background:#fff;}
	#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
	#menu_wrap .option{text-align: center;}
	#menu_wrap .option p {margin:10px 0;}  
	#menu_wrap .option button {margin-left:5px;}
	#placesList li {list-style: none;}
	#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
	#placesList .item span {display: block;margin-top:4px;}
	#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
	#placesList .item .info{padding:10px 0 10px 55px;}
	#placesList .info .gray {color:#8a8a8a;}
	#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
	#placesList .info .tel {color:#009900;}
	#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
	#placesList .item .marker_1 {background-position: 0 -10px;}
	#placesList .item .marker_2 {background-position: 0 -56px;}
	#placesList .item .marker_3 {background-position: 0 -102px}
	#placesList .item .marker_4 {background-position: 0 -148px;}
	#placesList .item .marker_5 {background-position: 0 -194px;}
	#placesList .item .marker_6 {background-position: 0 -240px;}
	#placesList .item .marker_7 {background-position: 0 -286px;}
	#placesList .item .marker_8 {background-position: 0 -332px;}
	#placesList .item .marker_9 {background-position: 0 -378px;}
	#placesList .item .marker_10 {background-position: 0 -423px;}
	#placesList .item .marker_11 {background-position: 0 -470px;}
	#placesList .item .marker_12 {background-position: 0 -516px;}
	#placesList .item .marker_13 {background-position: 0 -562px;}
	#placesList .item .marker_14 {background-position: 0 -608px;}
	#placesList .item .marker_15 {background-position: 0 -654px;}
	#pagination {margin:10px auto;text-align: center;}
	#pagination a {display:inline-block;margin-right:10px;}
	#pagination .on {font-weight: bold; cursor: default;color:#777;}
	
	
/* 게시판 */
.vacantrow{
	background : white;
}
.toboardtd {
	padding : 0;
	background : white;
}
.toboardlist {
	width : 25%;
  float: left;
  left : 0;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding : 7px;
  text-decoration: none;
  font-size: 15px;
  font-weight : bold;
  background: #04AA6D;
}
.toboardlist:hover {
  background-color: #f2f2f2;
  color: black;
}

.toboardlist.active {
  background-color: #04AA6D;
  color: white;
  
}
.toboardlist1 {
	width : 100%;
  float: left;
  left : 0;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding : 7px;
  text-decoration: none;
  font-size: 15px;
  font-weight : bold;
  background: #04AA6D;
}
.toboardlist1:hover {
  background-color: #f2f2f2;
  color: black;
}

.toboardlist1.active {
  background-color: #04AA6D;
  color: white;
  
}

#boardlist {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

#boardlisttable   tr:nth-of-type(1)  {
	font-weight: bold; 
	background-color: #04AA6D; 
	color: #f2f2f2;
	}

#boardlisttable {
/* 	margin-right : 8%;
	margin-left : 8%; */
  border-collapse: collapse;
  border-spacing: 0;
	width: 90%;
		margin-left: 5%;
	margin-right: 5%;
  background-color: rgb(220, 222, 222);
 /*  border: 1px solid blue; */
}

.boardlisttable   tr:nth-of-type(1)  {
	font-weight: bold; 
	background-color: #04AA6D; 
	color: #f2f2f2;
	}
	#commenttitle   {
	font-weight: bold; 
	background-color: #04AA6D; 
	color: #f2f2f2;
	}
	#commentlist  {
	font-weight: bold; 
	background-color: #04AA6D; 
	color: #f2f2f2;
	}

.boardlisttable {
/* 	margin-right : 8%;
	margin-left : 8%; */
  border-collapse: collapse;
  border-spacing: 0;
	width: 90%;
		margin-left: 5%;
	margin-right: 5%;
  background-color: rgb(220, 222, 222);
 /*  border: 1px solid blue; */
}
.ctext                     { height:50px; width:90%; }
#boardcontent {
	height : 500px;
}
#boardcontent1 {
	background : white;
}
	
	
	
	/*  개인 코로나 정보  */
 body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.covidinfotitle {
	float : left;
	width : 60%;
	font-size: 25px;
	padding : 7px;
	
}
.covidinfohome {
	float : right;
	width : 35%;
	text-align: right;
	color : #04AA6D;
	
	
}
.covidinfoadd {
	float : left;
	width : 35%;
	text-align: left;
	color : #F5554A;
	font-weight: bold;
	
	
}

/* Full-width input fields */
.covidtext {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

textarea.Chat {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */


.covidtext:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.listbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.listbtn, .savebtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}



.deletebtn1, .listbtn1 {
  padding: 14px 20px;
  background-color: #f44336;
	
}
.savebtn1, .deletebtn1, .registbtn1, .listbtn1 {
	float: left;
	width: 25%
	
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .listbtn, .savebtn {
     width: 100%;
  }
}
}
